@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body > .container {
    margin-top: 5vh;
    height: 100%;
}

#title--logo {
    background-color: white;
    width: min-content;     
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.dropdown-columns > * {
    margin-left: 2vw;
}

.dropdown-container {
    margin-bottom: 25vh;
}

#output-img > pre {
    font-size: 7px !important;
    background-color: black;
}

#title--logo > h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin: 0;
}